<div id="home" v-cloak>
    <div class="container">
        <account-notification-banner></account-notification-banner>
    </div>
    <div class="container-fluid border-top pt-2 pt-sm-4 pb-5">
        <h3 class="d-sm-flex align-items-center mx-2">
            Admin
        </h3>
        <div class="mt-4">
            <div class="row">
                <div class="col-sm-6">
                    <manage-users class="mt-2"></manage-users>
                    <ban-ips class="mt-4"></ban-ips>
                </div>
                <div class="col-sm-6">
                    <ban-emails class="mt-2"></ban-emails>

                </div>
            </div>
        </div>
    </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
