<div id="welcome">
    <div class="container">
        <account-notification-banner></account-notification-banner>
    </div>
  <div class="container pt-1 pt-sm-3 pb-5">
      <div class="buttons mx-2">
          <a class="btn btn-info mr-2" href="/posts/create-post">Create a post</a>
          <a class="btn btn-outline-info" :href="getUserUrl()">My content</a>
      </div>
      <div class="mt-4">
          <post-list :posts="posts" :has-more="hasMore" :is-loading="loading" :image-base-url="imageBaseUrl" @load-more="loadPosts">
              <template #no-posts-message class="text-center">
                  <div style="max-width: 650px;" class="d-inline-block">
                      <h2>No posts found</h2>
                      <h5 class="px-3">Follow some users or take a look at the globally <a class="text-info" href="/posts/trending">trending posts</a>.</h5>
                  </div>
              </template>
          </post-list>
      </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
