<div id="homepage" v-cloak>
    <div class="container pt-1 pt-sm-3 pb-5">
        <h3>Trending</h3>
        <div class="mt-4">
            <post-list :posts="posts" :has-more="hasMore" :is-loading="loading" :image-base-url="imageBaseUrl" @load-more="loadPosts"></post-list>
            <template slot="no-posts-message">
                <div style="max-width: 650px;" class="d-inline-block">
                    <h2>No posts found</h2>
                </div>
            </template>
        </div>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
