<div id="post" v-cloak>
    <div class="container" v-if="isLoggedIn">
        <account-notification-banner></account-notification-banner>
    </div>
    <div class="container pt-1 pt-sm-3 pb-5">
        <h6>
            <a :href="getUserUrl(username)" class="mr-1">{{username}}</a>
            <span class="text-dark font-italic small mr-3"><js-timestamp :at="createdAt"></js-timestamp></span>
            <span class="float-sm-right">
                <span v-if="isOwnPost">
                    <button type="button" @click="openDeleteConfirmation" class="btn my-1 btn-sm btn-outline-danger " v-if="!deleteConfirming"><span class="fa fa-trash-o mr-1"></span>Delete post</button>
                    <span  v-if="deleteConfirming">
                        <button type="button" class="btn my-1 btn-sm btn-secondary mr-1" @click="cancelDelete">Cancel</button>
                        <ajax-button type="button" class="btn my-1 btn-sm btn-danger mr-1" @click="performDelete" :syncing="deleteSyncing">Confirm deletion</ajax-button>
                    </span>
                </span>
                <ajax-button v-else :syncing="loadingFollow"  type="button" class="btn btn-sm my-1 my-sm-0" :class="[isFollowing ? 'btn-info' : 'btn-outline-info']"
                                         @click="setFollowUser(!isFollowing)">
                    <span v-if="isFollowing">
                       <span class="fa fa-check-circle mr-1"></span>Following
                    </span>
                    <span v-else="!isFollowing">
                         <span class="fa fa-user-plus mr-1"></span>Follow user
                    </span>
                </ajax-button>
            </span>
        </h6>
        <div v-if="rebloggedPost" class="text-info small text-uppercase font-weight-bold"><span class="mr-1 fa fa-retweet"></span>Reblogged</div>
        <div :class="[rebloggedPost ? 'mt-2 px-3 pt-3 border-left ': '']" class="mt-2">
            <div class="user-content" v-if="rebloggedPost">
                <h6>
                    <a :href="getOriginalUserUrl(username)" class="mr-1">{{rebloggedPost.username}}</a>
                    <span class="text-dark font-italic small"><js-timestamp :at="rebloggedPost.createdAt"></js-timestamp></span>
                </h6>
                <h4>
                    <a :href="getOriginalUrl()">{{title}}</a>
                </h4>
            </div>
            <h4 v-else>
                {{title}}
            </h4>
            <div v-if="contentType === 'text' || (rebloggedPost && rebloggedPost.contentType === 'text')"
                 class="rounded border" ref="textContentHolder">
                <div class="user-content p-3" :class="[isLongTextPost && !isTextPostExpanded ? 'fade-overflow collapsed-text-post-content': '']">
                    <div class="trix-content" v-html="getTextContent()"></div>
                </div>
                <div v-if="isLongTextPost" class="text-center my-2">
                    <button type="button" class="btn btn-light btn-sm" v-if="!isTextPostExpanded" @click="setExpandedTextPost(true)"><span class="fa fa-angle-down mr-1"></span>Expand</button>
                    <button type="button" class="btn btn-light btn-sm" v-if="isTextPostExpanded" @click="setExpandedTextPost(false)"><span class="fa fa-angle-up mr-1"></span>Collapse</button>
                </div>
            </div>
            <div v-else-if="contentType === 'image' || (rebloggedPost && rebloggedPost.contentType === 'image')" class="mt-2">
                <img :src="getImageUrl()" style="max-width:100%;max-height:600px" class="rounded"/>
            </div>
        </div>
        <div class="mt-3" v-if="!addingComment">
            <ajax-button type="button" :syncing="submittingReblog" @click="reblog()" class="btn btn-sm btn-info mb-1 mr-1" :disabled="!canReblog"><span class="fa fa-share mr-1"></span>Reblog</ajax-button>
            <button type="button" class="btn btn-sm btn-outline-primary mb-1" :disabled="!canComment" @click="showAddComment()"><span class="fa fa-comment-o mr-1"></span>Add a comment</button>
        </div>
        <div class="mt-3" v-if="addingComment">
        <textarea style="resize:none" rows="4" class="form-control" v-model="newCommentContent"
                  maxLength=500 type="text" :disabled="submittingComment"></textarea>
            <div class="text-right mt-2">
                <button type="button" class="btn btn-sm btn-outline-info mb-1" @click="cancelAddComment()"></span>Cancel</button>
                <ajax-button type="button" :syncing="submittingComment" @click="submitComment()" class="btn btn-sm btn-dark mb-1">Submit comment</ajax-button>
            </div>
        </div>


        <div class="mt-4">
            <h5 class="font-weight-bold text-dark"><span class="fa fa-comment mr-1"></span>Comments</h5>
            <hr/>
            <div>
                <div v-for="comment in commentList" class="mb-2">
                    <div class="user-content">
                        {{comment.textContent}}
                    </div>
                    <div>
                        <a :href="'/' + comment.username">{{comment.displayUsername}}</a>
                        <span class="text-dark font-italic small"><js-timestamp :at="comment.createdAt" format="timeago"></js-timestamp></span>
                        <span class="float-right">
                            <button type="button"  @click="openCommentDeleteConfirmation(comment)" class="btn btn-link text-danger" v-if="isOwnComment(comment) && !comment.deleteConfirming"><span class="fa fa-trash-o"></span></button>
                            <span v-if="comment.deleteConfirming">
                                <button type="button" class="btn btn-sm btn-secondary mr-1" @click="cancelCommentDelete(comment)">Cancel</button>
                                <ajax-button type="button" class="btn btn-sm btn-danger mr-1" @click="performCommentDelete(comment)" :syncing="comment.deleteSyncing">Confirm deletion</ajax-button>
                            </span>
                        </span>
                    </div>
                    <hr/>
                </div>
                <div class="text-center mt-4">
                    <button type="button" :disabled="commentsLoading" class="btn btn-info" @click="loadComments()" v-if="hasMoreComments">Load more</button>
                </div>
                <div v-if="commentList.length < 1" class="text-dark">
                    This post has no comments.
                </div>
            </div>
            <div v-if="commentsLoading" class="text-center">
                <div class="spinner-border text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
