<div id="user" v-cloak>
    <div class="container" v-if="isLoggedIn">
        <account-notification-banner></account-notification-banner>
    </div>
    <div class="container pt-1 pt-sm-3 pb-5">
        <h5 class="pl-2 d-flex align-items-center">
            <span class="mr-2">{{user.displayUsername}}</span>
                <a v-if="isSelf" class="mx-2 btn btn-outline-info mr-1" href="/posts/create-post">
                    <span class="fa fa-plus mr-1"></span>
                    <span>New post</span>
                </a>
            <ajax-button :syncing="loadingFollow" v-else type="button" class="btn btn-sm my-1 my-sm-0" :class="[isFollowing ? 'btn-info' : 'btn-outline-info']"
            @click="setFollowUser(!isFollowing)">
                <span v-if="isFollowing">
                   <span class="fa fa-check-circle mr-1"></span>Following
                </span>
                <span v-else="!isFollowing">
                     <span class="fa fa-user-plus mr-1"></span>Follow
                </span>
            </ajax-button>
        </h5>
        <div class="mt-4">
            <post-list :posts="posts" :has-more="hasMore" :is-loading="loading" :image-base-url="imageBaseUrl" @load-more="loadPosts">
                <template #no-posts-message class="text-center">
                    <div style="max-width: 650px;" class="d-inline-block">
                        <h2>No posts found</h2>
                        <h5 class="px-3"><a class="text-info" :href="'/' + user.username">{{user.displayUsername}}</a> hasn't submitted anything.</h5>
                    </div>
                </template>
            </post-list>
        </div>

    </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
