<div id="user" v-cloak>
    <div class="container" v-if="isLoggedIn">
        <account-notification-banner></account-notification-banner>
    </div>
    <div class="container pt-1 pt-sm-3 pb-5">
        <h5 class="pl-2">{{user.displayUsername}}</h5>
        <div class="row mt-4">
            <div v-if="posts.length < 1" class="col-12" >
                <div class="text-center">
                    <div style="max-width: 650px;" class="d-inline-block">
                        <h2>No posts found</h2>
                        <h5 class="px-3"><a class="text-info" :href="'/' + user.username">{{user.displayUsername}}</a> hasn't submitted anything.</h5>
                    </div>

                </div>
            </div>
            <div v-else class="col-12 text-center text-sm-left">
                <div class="align-top text-left d-inline-block post-card" v-for="post in posts">
                    <div class="card shadow-sm mb-3 mx-2 ">
                        <div class="position-absolute" style="z-index:2" v-if="post.rebloggedPost">
                            <div class="rounded-pill m-1 shadow-sm" style="background-color:rgba(52,152,219,0.7)">
                                <span class="fa fa-retweet p-2 text-white"></span>
                            </div>
                        </div>
                        <a :href="getPostUrl(post)" class="text-decoration-none">
                            <div v-if="post.contentType ==='image' || (post.rebloggedPost && post.rebloggedPost.contentType === 'image')" class="card-img-top d-flex align-items-center justify-content-center" style="overflow: hidden;height: 13rem">
                                <img  :src="getImageUrl(post)" class="d-inline-block" style="width:auto;height:100%;" :title="post.title" :alt="post.title">
                            </div>
                            <div v-else-if="post.contentType ==='text' || (post.rebloggedPost && post.rebloggedPost.contentType === 'text')" class="fade-overflow user-content text-dark p-3  border-bottom" style="height: 13rem" >
                                {{getTextContent(post)}}
                            </div>
                        </a>
                        <div class="card-body py-2 px-3 border-top">
                            <div class="user-content small" style="white-space: nowrap;">
                                <a :href="getPostUrl(post)" :title="post.title">{{post.title}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-info" @click="loadPosts()" v-if="hasMore">Load more</button>
                </div>
            </div>
        </div>

    </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
