<div id="user" v-cloak>
    <div class="container" v-if="isLoggedIn">
        <account-notification-banner></account-notification-banner>
    </div>
    <div class="container pt-1 pt-sm-3 pb-5">
        <h5 class="pl-2">{{user.displayUsername}}</h5>
        <div class="mt-4">
            <post-list :posts="posts" :has-more="hasMore" :image-base-url="imageBaseUrl" @load-more="loadPosts"></post-list>
            <template slot="no-posts-message">
                <div style="max-width: 650px;" class="d-inline-block">
                    <h2>No posts found</h2>
                    <h5 class="px-3"><a class="text-info" :href="'/' + user.username">{{user.displayUsername}}</a> hasn't submitted anything.</h5>
                </div>
            </template>
        </div>

    </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
